### Setup

In [1]:
# Main
import numpy as np
import pandas as pd

# Unit root
from quantileADF import QADF
from quantileTAR import QTAR, QTAR_CustomRport
from report import countryReport, reportCountries

# Utilities
import warnings
from statsmodels.tools.sm_exceptions import IterationLimitWarning
warnings.simplefilter('ignore', IterationLimitWarning)
pd.set_option('display.max_rows', 500)

In [2]:
data1995 = pd.read_pickle('data/dataset1995.pkl')
data2000 = pd.read_pickle('data/dataset2000.pkl')

data2000.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2000-01-01 to 2020-12-01
Freq: MS
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Armenia             252 non-null    float64
 1   Belarus             252 non-null    float64
 2   Kazakhstan          252 non-null    float64
 3   Kyrgyz Republic     252 non-null    float64
 4   Russian Federation  252 non-null    float64
dtypes: float64(5)
memory usage: 11.8 KB

In [3]:
# Changing data
dataLogs1995 = data1995.apply(np.log, axis=1)
dataLogs2000 = data2000.apply(np.log, axis=1)

### Report (defaultBase:2000)

In [7]:
dataLogs2000.head(2)

,Armenia,Belarus,Kazakhstan,Kyrgyz Republic,Russian Federation
Date,,,,,
2000-01-01,4.605170,4.605170,4.60517,4.605170,4.605170
2000-02-01,4.618547,4.503707,4.61323,4.609275,4.616659

In [44]:
# Broad EAEU logs reports
levels = [0.01,0.05,0.1]
quantiles = np.arange(0.1, 1, 0.1)
EAEU = pd.Series((dataLogs2000.index >= '2015-01-01').astype(int), index=dataLogs2000.index, name='EAEU')
dropQAR = ['δ²', 'Lags', 'α₀(τ)', 'ρ₁(OLS)', 'CV1%', 'CV5%', 'CV10%']
dropQTAR = ['δ²', 'Lags', 'α₀(τ)']
qadfParams =  {'model':'c', 'pmax':12, 'ic':'AIC'}
qtarParams =  {'threshold_dummy':EAEU, 'model':'c', 'pmax':12, 'ic':'AIC'}
reps = 10

In [16]:
QAR_logResults_C, QAR_logReport_C = reportCountries(dataLogs2000, QADF, qadfParams, quantiles, 
                                                    reps, levels, dropColumns=dropQAR)
QAR_logReport_C.to_excel('Outputs/QAR_logReport(C).xlsx', float_format="%.3f")

Starting Execution:

Armenia finished in: 10.97s
Belarus finished in: 15.71s
Kazakhstan finished in: 9.08s
Kyrgyz Republic finished in: 9.36s
Russian Federation finished in: 10.68s

Total time spent executing: 0m, 56s

In [20]:
qadfParams['model'] = 'ct'
QAR_logResults_CT, QAR_logReport_CT = reportCountries(dataLogs2000, QADF, qadfParams, quantiles, 
                                                      reps, levels, dropColumns=drop)
QAR_logReport_CT.to_excel('Outputs/QAR_logReport(C&T).xlsx', float_format="%.3f")

Starting Execution:

Armenia finished in: 12.45s
Belarus finished in: 16.95s
Kazakhstan finished in: 11.29s
Kyrgyz Republic finished in: 11.75s
Russian Federation finished in: 13.2s

Total time spent executing: 1m, 6s

In [38]:
QTAR_logResults_C, QTAR_logReport_C = reportCountries(dataLogs2000, QTAR, qtarParams, quantiles, reps, levels, 
                                                      customReport=QTAR_CustomRport, dropColumns=dropQTAR)
QTAR_logReport_C.to_excel('Outputs/QTAR_logReport(C).xlsx', float_format="%.3f")

Starting Execution:

Armenia finished in: 8.42s
Belarus finished in: 17.93s
Kazakhstan finished in: 7.75s
Kyrgyz Republic finished in: 10.67s
Russian Federation finished in: 11.86s

Total time spent executing: 0m, 57s

In [40]:
qtarParams['model'] = 'ct'
QTAR_logResults_CT, QTAR_logReport_CT = reportCountries(dataLogs2000, QTAR, qtarParams, quantiles, reps, levels, 
                                                        customReport=QTAR_CustomRport, dropColumns=dropQTAR)
QTAR_logReport_CT.to_excel('Outputs/QTAR_logReport(C&T).xlsx', float_format="%.3f")

Starting Execution:

Armenia finished in: 11.26s
Belarus finished in: 19.36s
Kazakhstan finished in: 16.52s
Kyrgyz Republic finished in: 10.65s
Russian Federation finished in: 12.79s

Total time spent executing: 1m, 11s

### Report (1995)

In [45]:
# Broad EAEU logs reports 1995 base year
levels = [0.01,0.05,0.1]
quantiles = np.arange(0.1, 1, 0.1)
EAEU = pd.Series((dataLogs1995.index >= '2015-01-01').astype(int), index=dataLogs1995.index, name='EAEU')
dropQAR = ['δ²', 'Lags', 'α₀(τ)', 'ρ₁(OLS)', 'CV1%', 'CV5%', 'CV10%']
dropQTAR = ['δ²', 'Lags', 'α₀(τ)']
qadfParams =  {'model':'c', 'pmax':12, 'ic':'AIC'}
qtarParams =  {'threshold_dummy':EAEU, 'model':'c', 'pmax':12, 'ic':'AIC'}
reps = 10

In [46]:
QAR_logResults1995_C, QAR_logReport1995_C = reportCountries(dataLogs1995, QADF, qadfParams, quantiles,
                                                            reps, levels, dropColumns=dropQAR)
QAR_logReport1995_C.to_excel('Outputs/results1995/QAR_logReport1995(C).xlsx', float_format="%.3f")

Starting Execution:

Armenia finished in: 9.71s
Belarus finished in: 23.36s
Kazakhstan finished in: 9.5s
Kyrgyz Republic finished in: 11.11s
Russian Federation finished in: 10.25s

Total time spent executing: 1m, 4s

In [47]:
qadfParams['model'] = 'ct'
QAR_logResults1995_CT, QAR_logReport1995_CT = reportCountries(dataLogs1995, QADF, qadfParams, quantiles,
                                                              reps, levels, dropColumns=drop)
QAR_logReport1995_CT.to_excel('Outputs/results1995/QAR_logReport1995(C&T).xlsx', float_format="%.3f")

Starting Execution:

Armenia finished in: 11.0s
Belarus finished in: 26.74s
Kazakhstan finished in: 10.4s
Kyrgyz Republic finished in: 11.67s
Russian Federation finished in: 12.74s

Total time spent executing: 1m, 13s

In [48]:
QTAR_logResults1995_C, QTAR_logReport1995_C = reportCountries(dataLogs1995, QTAR, qtarParams, quantiles, reps, levels,
                                                              customReport=QTAR_CustomRport, dropColumns=dropQTAR)
QTAR_logReport1995_C.to_excel('Outputs/results1995/QTAR_logReport1995(C).xlsx', float_format="%.3f")

Starting Execution:

Armenia finished in: 9.68s
Belarus finished in: 24.97s
Kazakhstan finished in: 9.63s
Kyrgyz Republic finished in: 11.68s
Russian Federation finished in: 13.3s

Total time spent executing: 1m, 9s

In [49]:
qtarParams['model'] = 'ct'
QTAR_logResults1995_CT, QTAR_logReport1995_CT = reportCountries(dataLogs1995, QTAR, qtarParams, quantiles, reps,
                                                                levels, customReport=QTAR_CustomRport,
                                                                dropColumns=dropQTAR)
QTAR_logReport1995_CT.to_excel('Outputs/results1995/QTAR_logReport1995(C&T).xlsx', float_format="%.3f")

Starting Execution:

Armenia finished in: 11.71s
Belarus finished in: 24.95s
Kazakhstan finished in: 12.45s
Kyrgyz Republic finished in: 11.97s
Russian Federation finished in: 10.46s

Total time spent executing: 1m, 12s